
  <div class="row" style="padding-top: 4em;">
   
      <div class="col s8 m4 offset-s2 offset-m4">
        <div class="card-panel white center z-depth-4">
            <form action="/login" method="post">
              <div class="row" style="margin-bottom: 0px;">
                     <div class="input-field col s12">
                            <input id="login" name="login" type="text" class="">
                            <label for="login">Login</label>
                     </div>
                     <div class="input-field col s12">
                            <input id="password" name="passw" type="password" class="">
                            <label for="password">Senha</label>
                     </div>
                     <div class="input-field col s6 right-left" style="  padding-top: 10px; ">
                     <a class=" " href="#" >
                            Esqueci minha senha
                     </a>
                     </div>

                     <div class="input-field col s6 right-align " >
                     <button 
                                   class="btn waves-effect waves-light blue darken-3" 
                                   style="margin-right: 20px;"  
                                   type="submit"
                                   name="action">
                            Logar
                     
                     </button>
                     </div>
              
              </div>
             </form>
        </div>
      </div>
  </div>
